.home__page {
    margin-top: 2rem;
    display: flex;
    justify-content: center;

    &-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 80%;
    }
}