<div class="new__question">
  <h2 mat-dialog-title><b> Add a New Quesitons </b> </h2>
  <mat-dialog-content class="new__question-contents">
    <mat-form-field>
      <mat-label>Select type of question</mat-label>
      <mat-select [ngModel]="questionType[1]" (selectionChange)="changeQuestionType($event)">
        @for(option of questionType; track option.name){
        <mat-option [value]="option">{{option.name}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <form [formGroup]="form" class="form">
      <mat-form-field>
        <input formControlName="text" matInput type="text" placeholder="Type question here" />
      </mat-form-field>

      @if(isCheckBoxType()){

      @for(optionFormGroup of getControls();track optionFormGroup;let idx = $index){
      <!-- <div formGroupName="optionFormGroup[idx]">
        <div style="display: flex;">
          <mat-checkbox formControlName="value"></mat-checkbox>
          <mat-form-field>
            <input formControlName="label" matInput type="text" placeholder="Type answer here" />
          </mat-form-field>
        </div>
      </div> -->
      }

      <button mat-raised-button (click)="addNewOptions()">Add Answer Option</button>
      <hr />
      <button mat-raised-button>Add another answer</button>
      <hr />
      }

      <mat-checkbox formControlName="allowSpecific" class="example-margin">Allow user to specify their own
        answer</mat-checkbox>
      <mat-checkbox formControlName="required" class="example-margin">This field is required</mat-checkbox>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button (click)="submit()" class="new__question-submit"> Submit </button>
  </mat-dialog-actions>
</div>